/* got .cm-header from here https://forum.obsidian.md/t/how-to-change-header-color-in-editor-mode/32706 */
/* found the headings variables here https://docs.obsidian.md/Reference/CSS+variables/Editor/Headings */

:root {
    --h1: #FF00FF;
    --h2: #00FFFF; 
    --h3: #FF9900; 
    --h4: #FF66CC; 
    --h5: #00FF00; 
    --h6: #CC00FF; 
}

body {
    --h1-color: var(--h1);
    --h2-color: var(--h2);
    --h3-color: var(--h3);
    --h4-color: var(--h4);
    --h5-color: var(--h5);
    --h6-color: var(--h6);
}

.cm-header-1 {
  color: var(--h1); /* Magenta */
}

.cm-header-2 {
  color: var(--h2); /* Cyan */
}

.cm-header-3 {
  color: var(--h3); /* Orange */
}

.cm-header-4 {
  color: var(--h4); /* Pink */
}

.cm-header-5 {
  color: var(--h5); /* Lime Green */
}

.cm-header-6 {
  color: var(--h6); /* Purple */
}

/*
.markdown-preview-view h1, 
.markdown-preview-view h2, 
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6,
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6
{
    
    position: sticky !important;
    top: 0;
    z-index: 10;
    display: inline-block;
    padding-top: 10px;

    background-color: #0f2073 ; 
    padding: 5px 10px;
    border-radius: 50px;
    margin: 10px 0;
    box-shadow: 5px 2px 5px rgba(0,0,0,0.2);
    opacity: 0.8;
}
*/

/* Adjust the size and spacing of your headers */
.markdown-preview-view h1 { font-size: 1.5em; }
.markdown-preview-view h2 { font-size: 1.3em; }
.markdown-preview-view h3 { font-size: 1.1em; }
