.table-wrapper {
	background-color: rgba(50, 50, 50, 0.8);
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 5px;
	border: 1px solid rgba(211, 211, 211, 0.2);
    <--width: 170% !important;-->
}

.table-wrapper th,
.table-wrapper td {
	border: 2px solid #ccc;
	padding: 5px;
}

.markdown-source-view.mod-cm6 .cm-table-widget th, .markdown-source-view.mod-cm6 .cm-table-widget td {
	border-color: #636060; 
}
