.block-language-typst {
    background-color: rgba(253, 250, 243, 0.85); /* Light beige and transparency*/
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.3); /* Soft shadow */
    border: 1px solid #e0e0e0; /* oooooh nice*/
    
    /* Layout adjustments */
    padding: 20px 40px;
    margin: 20px auto;
    max-width: 1000px;
}

/*I change in the plugin settings itself
### Shared Preamble
#set text(fill: black, size: 22pt) */
