.workspace-leaf-content .view-content {
  z-index: 0;
}
.workspace-leaf-content .view-content::after {
  z-index: -1;
  content: "";
  position: absolute;
  /*background-image: url(https://i.imgur.com/eIk2VB4.png);*/
  background-image: url(https://i.imgur.com/kBqLdET.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  filter: brightness(50%) saturate(50%);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
